<div class="row">
  <div class="col-2">
    <label for="" class="form-label">Primeiro Número</label>
    <input type="number" [(ngModel)]="valor1" class="form-control"/>
  </div>
  <div class="col-2">
    <label for="" class="form-label">Operação</label>
    <select name="" id="" class="form-select" [(ngModel)]="selectOp">

      <option selected value="+">Soma</option>
      <option value="-">Subtração</option>
      <option value="*">Multiplicação</option>
      <option value="/">Divisão</option>
    </select>
  </div>
  <div class="col-2">
    <label for="" class="form-label">Segudo Número</label>
    <input type="number" [(ngModel)]="valor2" class="form-control" />
  </div>
  <div class="col-2">

    <button class="btn btn-primary" style="margin-top: 30px;" (click)="calcular()">Calcular</button>
  </div>
</div>
<div class="ro">
  <div class="col-2">
    <label for="" class="form-label">Resultado</label>
    <input type="number" disabled="" class="form-control" [(ngModel)]="resultado">
  </div>
</div>
