<div class="row">
  <div class="col-2">
    <label for="" class="form-label">Nota AC1</label>
    <input type="number" [(ngModel)]="notaAc1">
  </div>
  <div class="col-2">
    <label for="" class="form-label">Nota AC2</label>
    <input type="number" class="form-control" [(ngModel)]="notaAc2" placeholder=" ">
  </div>
  <div class="col-2">
    <label for="" class="form-label">Nota AG</label>
    <input type="number" class="form-control" [(ngModel)]="notaAG" placeholder=" " >
  </div>
  <div class="col-2">
    <label for="" class="form-label">Nota AF</label>
    <input type="number" class="form-control" [(ngModel)]="notaAF" >
  </div>
  <div class="col-2">
    <button class="btn btn-primary" style="margin-top: 30px;" (click)="calcularMedia()">Calcular</button>
  </div>
</div>
<div class="row">
  <div class="col-2">
      <label for="" class="form-label">Média Final</label>
      <input type="number" class="form-control" disabled [ngModel]="resultado">
  </div>
</div>

